# Python
__pycache__/
*.pyc
.python-version

# Entornos
venv/
.env/
.venv/

# UV
uv.lock
Notebooks/prueba.ipynb

# Jupyter
.ipynb_checkpoints/

# Datos y modelos pesados
*.npy
*.npz
*.pkl
*.joblib
*.h5
*.pt
*.pth
*.ckpt

# Datos
data/processed/
datasets/
models/
outputs/
results/
checkpoints/

# VS Code
.vscode/

# TensorFlow Hub cache
tfhub_cache/

.cache/
tfhub_cache/